@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Open+Sans:wght@600&family=Nunito+Sans:wght@400&display=swap');



/* Estilos Gerais */
body {
    font-family: 'Nunito Sans', sans-serif; /* Fonte base para o corpo */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Container Principal */
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/florestaGrande.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    color: white;
    text-align: center;
    padding-top: 20px;
}

/* Sobreposição para reduzir o brilho da imagem */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, 
    rgb(30 35 34 / 38%), /* Verde 
    rgb(7 8 8 / 60%), /* Verde CarboZero mais escuro */ 
    rgb(7 8 8 / 60%),
    rgb(244 244 244 / 10%),
    rgb(244 244 244) /* Filtro escuro para destaque do texto */);
    z-index: 1;
}


/* Conteúdo acima da sobreposição */
.content {
    position: relative;
    z-index: 2;
    font-family: 'Open Sans', sans-serif; /* Fonte para conteúdos */
    top: -75px;
}

.container .content h3 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif; /* Fonte para títulos */
}

.container .content h1 {
    font-size: 72px;
    margin: 20px 0;
    line-height: 1.2;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    font-family: 'Poppins', sans-serif;
}

.container .content p {
    font-size: 24px;
    max-width: 800px;
    margin: 0 auto 20px;
    line-height: 1.6;
}

/* Botões */
.container .content .btn-white,
.container .content .btn-green {
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Open Sans', sans-serif;
}

.btn-white {
    background-color: #fff;
    color: #287169;
    margin-right: 10px;
}

.btn-white:hover {
    background-color: #388E3C;
    color: #fff;
}

.btn-green {
    background-color: #287169;
    color: #fff;
}

.btn-green:hover {
    background-color: #388E3C;
}

/* Estilos do fluxo de compensação */
.business-flow {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: -15px;
    margin-bottom: 30px;
    text-align: center;
}

.flow-step {
    width: 22%;
    position: relative;
    min-height: 270px;
    transition: transform 0.3s ease;
}

.flow-step:hover {
    transform: scale(1.05);
}

.flow-step h3 {
    font-size: 22px;
    color: #287169;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif; /* Fonte para os títulos */
}

.flow-step .flow-icon {
    width: 120px;
    height: 120px;
    margin: 15px 0;
}

.flow-step p {
    font-size: 15px;
    color: #666;
    line-height: 1.6;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif; /* Fonte para o texto */
}

.step-number {
    font-size: 22px;
    color: #fff;
    background-color: #bcbcbc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
    font-family: 'Open Sans', sans-serif; /* Fonte para os números */
}

.flow-step:hover .step-number {
    background-color: #287169;
}

/* Numeradores específicos */
.flow-step:nth-child(1) .step-number { content: "1"; }
.flow-step:nth-child(2) .step-number { content: "2"; }
.flow-step:nth-child(3) .step-number { content: "3"; }
.flow-step:nth-child(4) .step-number { content: "4"; }

/* Estilos da seção context textcenter */
.context.textcenter {
    padding: 50px 20px;
    text-align: center;
    color: #287169;
}

.context.textcenter h3.textgreen {
    font-size: 20px;
    color: #ffffff;
    background-color: #388E3C;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: -17px;
    font-family: 'Montserrat', sans-serif; /* Fonte para destaque */
}

.context.textcenter h2 {
    font-size: 36px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif; /* Fonte para subtítulo */
}

.context.textcenter .context-icon {
    margin: 20px 0;
}

.context.textcenter .context-icon img {
    width: 150px;
    height: auto;
}

.context.textcenter p {
    font-size: 20px;
    color: #666;
    max-width: 700px;
    margin: 0 auto 20px;
    line-height: 1.6;
    font-family: 'Nunito Sans', sans-serif; /* Fonte para parágrafos */
}

@keyframes filling {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}

/* Contêiner para alinhar texto e slider */
.texto-e-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 80px 0;
    gap: 20px;
    margin-bottom: 20px;/
}

/* Texto acima do slider */
.texto-lateral {
    text-align: center;
    max-width: 900px;
    margin-bottom: 35px;
}

.texto-lateral h2 {
    font-size: 3em;
    color: #388E3C;
    margin-bottom: -15px;
    font-family: 'Poppins', sans-serif; /* Fonte para o título do slider */
}

.texto-lateral p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    margin-bottom: -15px;
    font-family: 'Nunito Sans', sans-serif; /* Fonte para parágrafo */
}

/* Slider abaixo do texto */
.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}






@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400&family=Roboto:wght@300&display=swap');

/* Estilos para o Blog Slider (Cards Animados) */
.blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
}
@media screen and (max-width: 992px) {
    .blog-slider {
        max-width: 680px;
        height: 400px;
    }
}
@media screen and (max-width: 768px) {
    .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
    }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
        height: 350px;
    }
}
.blog-slider__item {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .blog-slider__item {
        flex-direction: column;
    }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
    opacity: 1;
    transform: none;
}
.blog-slider__img {
    width: 325px;
    flex-shrink: 0;
    height: 325px;
    background-image: linear-gradient(147deg, #81C784 0%, #388E3C 74%);
    box-shadow: 4px 13px 30px 1px rgba(56, 142, 60, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
}
.blog-slider__img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(147deg, #81C784 0%, #388E3C 74%);
    border-radius: 20px;
    opacity: 0.3;
}
.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
}
.blog-slider__content {
    padding-right: 25px;
}
@media screen and (max-width: 768px) {
    .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
    }
}
.blog-slider__content > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
}
.blog-slider__code {
    color: #558B2F;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
    font-family: 'Roboto', sans-serif; /* Fonte leve para código */
}
.blog-slider__title {
    font-size: 30px;
    font-weight: 800;
    color: #1B5E20;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif; /* Fonte para o título */
}
.blog-slider__text {
    font-size: 18px;
    color: #4E6B6F;
    margin-bottom: 30px;
    line-height: 1.6em;
    font-family: 'Poppins', sans-serif; /* Fonte para o texto */
}
.blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #81C784 0%, #388E3C 74%);
    color: #ffffff;
    padding: 15px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; /* Fonte para o botão */
    justify-content: center;
    transition: filter 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 14px 80px rgba(56, 142, 60, 0.4);
}

.blog-slider__button:hover {
    filter: brightness(1.1);
    box-shadow: 0px 14px 80px rgba(40, 113, 105, 0.6);
}

@media screen and (max-width: 576px) {
    .blog-slider__button {
        width: 100%;
    }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
    .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
}
.blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #1B5E20;
    opacity: 0.2;
    transition: all 0.3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: #388E3C;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(56, 142, 60, 0.3);
}

/* Estilos Gerais */
.new-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 70px;
}

/* Estilo para o título e subtítulo da seção de ferramentas */
.new-container .new-header {
    text-align: center;
    margin-bottom: 20px;
}

.new-container .new-header h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: #388e3b; /* Verde para destacar */
    margin: 0;
}

.new-container .new-header p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2em;
    color: #333;
    margin: 10px 0 0;
}

/* Cards */
.new-container .new-cards-wrapper {
    display: flex;
    justify-content: space-between; /* Espaçamento uniforme entre os cards */
    gap: 20px; /* Espaço entre os cards */
    flex-wrap: nowrap; /* Impede que os cards sejam quebrados para outra linha */
    width: 100%; /* Permite que os cards ocupem toda a largura disponível */
}

.new-container .new-card {
    position: relative;
    width: 30%; /* Reduzi a largura dos cards para caberem lado a lado */
    overflow: hidden;
    padding: 35px;
    transition: 0.3s;
    box-sizing: border-box;
}

.new-container .new-card .new-face {
    width: 100%;
    height: 200px;
    transition: 0.3s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Face 1 com brilho mais forte */
.new-container .new-card .new-face.new-face1 {
    background: #ffffff;
    color: #333;
    z-index: 1;
    transform: translateY(100px);
    cursor: pointer;
    box-shadow: 0 0 25px 15px rgba(56, 142, 60, 0.3); /* Brilho mais forte */
}

.new-container .new-card.hover-ativo .new-face.new-face1 {
    background: #388e3b;
    transform: translateY(0);
    color: #fff;
}

.new-container .new-card .new-face.new-face1 .new-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

/* Define a cor dos SVGs como verde #388e3b */
.new-calculadora .new-face.new-face1 .new-content svg,
.new-mercado .new-face.new-face1 .new-content svg,
.new-area .new-face.new-face1 .new-content svg {
    max-width: 50px;
    fill: #388e3b; /* Ícones agora usam a cor verde */
    transition: fill 0.3s;
}

/* Títulos agora usam a cor escura #333 */
.new-calculadora .new-face.new-face1 .new-content h3,
.new-mercado .new-face.new-face1 .new-content h3,
.new-area .new-face.new-face1 .new-content h3 {
    font-family: 'Montserrat', sans-serif; /* Fonte Montserrat para os títulos */
    margin: 10px 0 0;
    text-align: center;
    font-size: 1.5em;
    color: #606060;
}

.new-container .new-card.hover-ativo .new-face.new-face1 .new-content h3 {
    color: #fff;
}

/* Durante o hover, mudar a cor dos ícones para branco */
.new-container .new-card.hover-ativo .new-face.new-face1 .new-content svg {
    fill: #fff; /* Ícones mudam para branco no hover */
}

/* Face 2 com brilho mais forte apenas no hover */
.new-container .new-card .new-face.new-face2 {
    background: #fff;
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-100px);
}

.new-container .new-card.hover-ativo .new-face.new-face2 {
    transform: translateY(0);
    box-shadow: 0 0 25px 15px rgba(56, 142, 60, 0.3); /* Brilho mais forte no hover */
}

.new-container .new-card .new-face.new-face2 .new-content p {
    color: #333;
    font-family: 'Roboto', sans-serif; /* Fonte Roboto para o texto */
}

.new-container .new-card .new-face.new-face2 .new-content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #ffffff; /* Cor do texto branca */
    padding: 10px 15px; /* Aumentei um pouco o padding para melhorar o visual */
    border: none; /* Removi a borda original */
    background: #388e3b; /* Cor de fundo verde */
    border-radius: 8px; /* Bordas arredondadas */
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transição suave para o hover */
    font-family: 'Montserrat', sans-serif; /* Fonte Montserrat para o link */
    cursor: pointer; /* Alterar o cursor ao passar sobre o botão */
}

.new-container .new-card .new-face.new-face2 .new-content a:hover {
    background: #45a049; /* Aumenta o brilho do botão no hover */
    box-shadow: 0 0 15px rgba(56, 142, 60, 0.5); /* Adiciona brilho suave ao redor */
}




/* Footer */
footer {
    padding: 20px;
    background-color: #287169;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif; /* Fonte para o rodapé */
}

footer p {
    margin: 0;
    font-size: 14px;
}
